.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: +2;
}

.myModelContent {
    padding: 25px;
    background-color: white;
    border-radius: 16px;
    min-width: 250px;

}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;

}


.form {
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    text-align: center;
}




@media screen and (max-width: 768px) {
    .myModelContent {
        min-width: 200px;

    }
}