.select {
  /* appearance: none; */
  background-color: transparent;
  padding: 0 1em 0 0;
  margin: 0;
  width: 200px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  letter-spacing: 1px;
  border: 2px solid #39A49E;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  padding: 15px;
  transition: all 0.5s ease;
  border-radius: 15px;
  outline: none;
  appearance: none;
  position: relative;
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}


.select:focus{
  box-shadow: 0px 5px 10px 7px rgba(57, 164, 158,0.5);
  outline: none;
}

.select option{
    border: none;
}

.castom{
  position: relative;
}


.castom::after {
  cursor: pointer;
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #39A49E;
  pointer-events: none;
}